<h2>Add Click Point</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field fxLayout="row">
    <mat-label>X Position</mat-label>
    <input type="number" matNativeControl formControlName="x">
  </mat-form-field>
  <mat-form-field fxLayout="row">
    <mat-label>Y Position</mat-label>
    <input type="number" matNativeControl formControlName="y">
  </mat-form-field>
  <mat-form-field fxLayout="row">
    <mat-label>Radius</mat-label>
    <input type="number" matNativeControl formControlName="rad">
  </mat-form-field>
  <mat-form-field fxLayout="row">
    <mat-label>URL</mat-label>
    <input matNativeControl formControlName="url">
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button type="submit">
      Add
    </button>
  </div>
</form>